<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings></appSettings>
	<connectionStrings>
		<add name="DATASERVER" 
			connectionString="Server=167.114.216.84;Port=21;Database=enk_curso;Uid=enk_curso;Pwd=r3dc0d3$;"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>